name: "Haskell/CI"
on: [push]

jobs:
  tests:
    name: "free-category"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v12
        with:
          extra_nix_config: |
            substituters = https://cache.nixos.org https://hydra.iohk.io
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=
      - name: "cachix"
        uses: cachix/cachix-action@v8
        with:
          name: "free-algebras"
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: "cachix iohk"
        run: cachix use iohk

      - name: "[GHC 8.6.5]  free-category"
        run: |
          nix-build default.nix --argstr compiler ghc865 -A free-category

      - name: "[GHC 8.8.4]  free-category"
        run: nix-build default.nix --argstr compiler ghc884 -A free-category

      - name: "[GHC 8.10.2] free-category"
        run: nix-build default.nix --argstr compiler ghc8102 -A free-category
